<div class="siimple-h2">Follow List</div>

<table class="timeline">
    <tr>
        <th>name</th>
        <th>Follow?</th>
    </tr>
    <% @relationships.each do |r| %>
    <tr>
        <td><a href="/user/<%= r.user_id %>/follow"><%= r.name %></a></td>
        <td>
            <form action="/user/<%= session[:user_id] %>/follow" method="POST">
                <input type="hidden" name="follow_id" value="<%= r.follow_id %>">
                <div class="siimple-btn siimple-btn--blue" onclick="javascript:this.parentNode.submit();">Follow</div>
            </form>
        </td>
    </tr>
    <% end %>
</table>
