Name's Follower

<ul>

    <li>
        <span>Name</span>
        <button type="button" value="follow" value="followflag">-</button>
    </li>

    <li>
        <span>Name</span>
        <button type="button" value="follow" value="followflag">-</button>
    </li>

    <li>
        <span>Name</span>
        <button type="button" value="follow" value="followflag">-</button>
    </li>

    <li>
        <span>Name</span>
        <button type="button" value="follow" value="followflag">-</button>
    </li>

</ul>
