Time Line

<ul class="timeline">

    <li class="tweet">
        <span class="name"><a href="user">Name</a></span>
        <span class="text">Text</span>
    </li>

    <li class="tweet">
        <span class="name"><a href="user">Name</a></span>
        <span class="text">Text</span>
    </li>

    <li class="tweet">
        <span class="name"><a href="user">Name</a></span>
        <span class="text">Text</span>
    </li>

    <li class="tweet">
        <span class="name"><a href="user">Name</a></span>
        <span class="text">Text</span>
    </li>

</ul>
