<div class="siimple-h2">Time Line</div>

<table class="timeline">
	<tr>
	<th>user</th>
	<th>name</th>
	<th>date</th>
	</tr>
	<% @tweets.length.times do |i| %>
	<tr>
	<td><a href="/user/<%= @tweets[i].user_id %>"><%=@tweets[i].user_id%></a></td>
    <td class="tweet">
        <span class="text"><%=@tweets[i].text%></span>
    </td>
    </tr>
    <%end%>
</table>
