Time Line

<table class="timeline">
	<tr>
	<th>user</th>
	<th>name</th>
	<th>date</th>
	</tr>
	<% @tweets.length.times do |i| %>
	<tr>
	<td><a href="/user/<%= @tweets[i].user_id %>"><%= @tweets[i].user_id %></a></td>
    <td><%= @tweets[i].text %></td>
    <td><%= @tweets[i].post_time %></td>
    </tr>
    <%end%>
</table>
