<div class="siimple-h2">Login</div>
<form method="POST" action="/login">
	<table>
		<tr>
			<td>e-mail</td>
			<td><input type="text" class="siimple-input" name="email" /></td>
		</tr>
		<tr>
			<td>PASS</td>
			<td><input type="text" class="siimple-input" name="password" /></td>
		</tr>
	</table>

    <div class="siimple-btn siimple-btn--blue" onclick="javascript:this.parentNode.submit();">ログイン</div>
</form>
<a href="/register">新規登録</a> 