<form method="POST" action="/login">
	<table>
		<tr>
			<td>e-mail</td>
			<td><input type="text" name="email" /></td>
		</tr>
		<tr>
			<td>PASS</td>
			<td><input type="text" name="password" /></td>
		</tr>
	</table>

	<input type="submit" value="ログイン" />
</form>
