<div class="siimple-h2">Sign Up</div>
<form method="POST" action="/register">
	<table>
		<tr>
			<td>name</td>
			<td><input type="text" class="siimple-input" name="name" /></td>
		</tr>
		<tr>
			<td>e-mail</td>
			<td><input type="text" class="siimple-input" name="email" /></td>
		</tr>
		<tr>
			<td>PASS</td>
			<td><input type="password" class="siimple-input" name="password" /></td>
		</tr>
		<tr>
			<td>Re:PASS</td>
			<td><input type="password" class="siimple-input" name="password_confirm" /></td>
		</tr>
	</table>

    <div class="siimple-btn siimple-btn--blue" onclick="javascript:this.parentNode.submit();">登録</div>
</form>
