<form action="search">
    <input type="text" name="word">
    <input type="submit" value="検索">
</form>

「<%= @word %>」の検索結果

<ul>

    <% @users.each do |u| %>
    <li>
        <span><a href="user"><%= u.name %></a></span>
    </li>
    <% end %>

</ul>
