<div class="siimple-h2">Setting</div>

<form action="/setting" method="post">
<p>
NAME：<input type="text" name="name" size="40" maxlength="20" value=<%=@user.name%>>
</p>
<p>
<input type="submit" value="UPDATE">
</p>
</form>