<div class="siimple-h2">Tweet</div>

<form method="POST" action="/tweet">
    <textarea class="siimple-textarea" name="tweet" /></textarea>
    <div class="siimple-btn siimple-btn--blue" onclick="javascript:this.parentNode.submit();">投稿</div>
</form>
