<h2>Name's Profile</h2>
<h3><%=@user.name %></h3>
<h2>Name's Tweet</h2>
<table class="timeline">
    <tr>
    <th>user</th>
    <th>name</th>
    <th>date</th>
    </tr>
    <% @tweets.length.times do |i| %>
    <tr>
    <td><%=@user.name%></td>
    <td><%=@tweets[i].text%></td>
    <td><%=@tweets[i].post_time%></td>
    </tr>
    <%end%>
</table>