<h2>Name's Profile</h2>

<h2>Name's Tweet</h2>
<ul>

    <li class="tweet">
        <span class="name">Name</span>
        <span class="text">Text</span>
        <button type="button" name="delete" value="userid">Delete</button>
    </li>

    <li class="tweet">
        <span class="name">Name</span>
        <span class="text">Text</span>
        <button type="button" name="delete" value="userid">Delete</button>
    </li>

    <li class="tweet">
        <span class="name">Name</span>
        <span class="text">Text</span>
        <button type="button" name="delete" value="userid">Delete</button>
    </li>

    <li class="tweet">
        <span class="name">Name</span>
        <span class="text">Text</span>
        <button type="button" name="delete" value="userid">Delete</button>
    </li>

</ul>
